<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
<div class="header-mobile__bar">
<div class="container-fluid">
<div class="header-mobile-inner">
<a class="logo" href="/index">
<img src="/images/icon/logo.png" alt="CoolAdmin"/>
</a>
<button class="hamburger hamburger--slider" type="button">
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
</button>
</div>
</div>
</div>
<nav class="navbar-mobile">
<div class="container-fluid">
<ul class="navbar-mobile__list list-unstyled">
<li class="has-sub">
<a class="js-arrow" href="/index">
<I class="fas fa-tachometer-alt"></i>Dashboard</a>
</li>
<li>
<a href="/coming">
<I class="fas fa-users"></i>Collaborators</a>
</li>
<li>
<a href="/outputs">
<I class="fas fa-bar-chart"></i>Monitor</a>
</li>
<li>
<a href="/coming">
<I class="far fa-clock-o"></i>Alarms</a>
</li>
<li>
<a href="/coming">
<I class="fas fa-life-ring"></i>Support</a>
</li>
</ul>
</div>
</nav>
</header>
<!-- END HEADER MOBILE-->