<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
<div class="logo">
<a href="/index">
<img src="/images/icon/logo.png" alt="Cool Admin"/>
</a>
</div>
<div class="menu-sidebar__content js-scrollbar1">
<nav class="navbar-sidebar">
<ul class="list-unstyled navbar__list">
<li class="has-sub">
<a class="js-arrow" href="/index">
<I class="fas fa-tachometer-alt"></i>Dashboard</a>
</li>
<li>
<a href="/coming">
<I class="fas fa-users"></i>Collaborators</a>
</li>
<li>
<a href="/outputs">
<I class="fas fa-bar-chart"></i>Monitor</a>
</li>
<li>
<a href="/coming">
<I class="far fa-clock-o"></i>Alarms</a>
</li>
<li>
<a href="/coming">
<I class="fas fa-life-ring"></i>Support</a>
</li>
</ul>
</nav>
</div>
</aside>
<!-- END MENU SIDEBAR-->